<div>
  
  Conference
  <hr/>
  name         : <input type="text" ng-model="conference.name" /><br/>  
  description  : <textarea          ng-model="conference.description"></textarea><br/>  
  place        : <input type="text" ng-model="conference.place" /><br/>  
  deadline     : <input class="ng-pristine ng-valid ng-scope ng-touched" date-time="" ng-model="conference.deadline" view="date" min-view="date" max-view="date" format="DD MMM YYYY" type="text"></input><br/>
  notification : <input class="ng-pristine ng-valid ng-scope ng-touched" date-time="" ng-model="conference.notification" view="date" min-view="date" max-view="date" format="DD MMM YYYY" type="text"></input><br/>
  event        : <input class="ng-pristine ng-valid ng-scope ng-touched" date-time="" ng-model="conference.event" view="date" min-view="date" max-view="date" format="DD MMM YYYY" type="text"></input><br/>
  <button ng-click="createOrUpdate()">Save</button>

  <div ng-if="uservice.auth.$getAuth() != null">Favorito: <input type="checkbox" ng-model="isFavorite"></input></div>

  <div id="mapContainer" style="width: 400px;height:300px;" gmap="" data="data"></div>

  <div ng-include="'commentsPartial.html'">
</div>
