<div>
  
  Conference
  <hr/>

  id           : <input type="text" ng-model="conference.id" /><br/>  
  name         : <input type="text" ng-model="conference.name" /><br/>  
  description  : <textarea          ng-model="conference.description"></textarea><br/>  
  place        : <input type="text" ng-model="conference.place" /><br/>  
  deadline     : <input type="date" ng-model="conference.deadline" /><br/>
  notification : <input type="text" ng-model="conference.notification" /><br/>
  event        : <input type="text" ng-model="conference.event" /><br/>
  <button ng-click="createOrUpdate()">Save</button>
  
</div>
