<div class="row">
<div class="col-md-6">
  <div class="panel panel-default" ng-repeat="conference in userFavs">
  <div class="panel-heading">
    <h3 class="panel-title">{{conference.name}}</h3>
  </div>
  <div class="panel-body">
    {{conference.description}}
    <button ng-click="showConference(conference)">View</button>
      <div ng-if="conference.owner == uservice.auth.$getAuth().uid">
        <button ng-click="editConference(conference)">Edit</button>
      </div>
  </div>
  </div>
  <div ng-if="uservice.auth.$getAuth() != null">
    <button ng-click="addConference()">Add</button>
  </div>
</div>
<div class="col-md-6">
  <div id="mapContainer" style="width: 100%;height:300px;" gmap="" data="data"></div>
</div>
</div>
