<h1>Comments</h1>

<div ng-if="uservice.auth.$getAuth() != null">
  <textarea class="form-control" ng-model="comment"></textarea><br/>
  <button class="btn btn-default" ng-click="addComment(comment)">Comment</button>
</div>
<br/>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="comment in comments">
    <h4 class="list-group-item-heading">{{comment.owner}}</h4>
    <p class="list-group-item-text">{{comment.text}}</p>
    <button ng-if="comment.owner == uservice.auth.$getAuth().uid" ng-click="deleteComment($index)">Delete</button>
  </li>
</ul>
